---
interface Item {
	name: string;
	path: string;
}

interface Props {
	items: Item[];
}

const { items } = Astro.props;
---

<nav class="breadcrumbs container" aria-label="Breadcrumb">
	<ol class="breadcrumbs-list">
		{
			items.map((item, index) => (
				<li class="breadcrumbs-item">
					{index < items.length - 1 ? (
						<a href={item.path}>{item.name}</a>
					) : (
						<span aria-current="page">{item.name}</span>
					)}
				</li>
			))
		}
	</ol>
</nav>
